<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	{% block css %}
	{% endblock %}
	<style>	
		.topbar {border:1px solid #999999; margin:20px; font-weight:bold;}
		.history {position:absolute; left: 400px;}	
		.calendar {position:absolute; left: 800px;}
		.accountpage {position:absolute; left: 1200px;}
    </style>
	
    <title>
		{% block title_block %}
			Chess Tournament App	
		{% endblock %}
	</title>
</head>
<body>
    <header>
        <div>
            <a href="{% url 'chess:index' %}">Home</a>
        </div>
        <div>
            {% if user.is_authenticated %}
            Logged in as <strong>{{ user.username }}</strong>. | <a href="{% url 'auth_logout' %}?next={% url 'chess:index' %}">Logout</a> | <a href="{% url 'auth_password_change' %}">Change password</a>
            {% else %}
            <a href="{% url 'auth_login' %}">Login</a> | <a href="{% url 'registration_register' %}">Register</a>
            {% endif %}
        </div>
		<div class="topbar">
			<a href="{% url 'chess:playlobby' %}" class="play">Play</a>
			<a href="{% url 'chess:history' %}" class="history">Tournament History</a>
			<a href="{% url 'chess:calendar' %}" class="calendar">Calendar</a>
			{% if user.is_authenticated %}
				<a href="{% url 'chess:accountpage' %}" class="accountpage">My account</a>
			{% endif %}
		</div>
    </header>
    {% block body_block %}
    {% endblock %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
	{% block javascript %}
	{% endblock %}
	<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
	<script type="text/javascript">
		feather.replace();
	</script>
</body>
</html>