{% if perspective %}
<style>
    #chess-board {
        background-image: url('/static/images/chessboard-rotated.png');
    }
</style>
{% else %}
<style>
    #chess-board {
        background-image: url('/static/images/chessboard.png');
    }
</style>
{% endif %}
<div id="chess-board">
    <div style="grid-area: 1 / 1 / 2 / 2;"></div>
    <div style="grid-area: 2 / 2 / 3 / 3;"></div>
    <div style="grid-area: 3 / 3 / 4 / 4;"></div>
    <div style="grid-area: 4 / 4 / 5 / 5;"></div>
    <div style="grid-area: 5 / 5 / 6 / 6;"></div>
    <div style="grid-area: 6 / 6 / 7 / 7;"></div>
    <div style="grid-area: 7 / 7 / 8 / 8;"></div>
    <div style="grid-area: 8 / 8 / 9 / 9;"></div>
    <div style="grid-area: 9 / 9 / 10 / 10;"></div>
    <div style="grid-area: 10 / 10 / 11 / 11;"></div>
    {% autoescape off %}
        {{ init_state }}
    {% endautoescape %}
</div>