{% extends 'chess/base.html' %}
{% load staticfiles %}

{% block css %}
	<link href="{% static 'css/list.css' %}", rel="stylesheet"/>
{% endblock %}

{% block title_block %}
	Homepage	
{% endblock %}

{% block body_block %}
<h1 class="jumbotron-heading">Homepage</h1>
<div class="container-fluid">
	<details>
		<summary>Upcoming tournaments which might interest you:</summary>
		<ul>
			{% for tournament in upcoming_tournaments %}
			<li><a href="{% url 'chess:calendar' %}?tournament={{ tournament.id }}">{{ tournament.name }}</a></li>
			{% endfor %}
		</ul>
	</details>
</div>
<div class="container-fluid">
	<details>
		<summary>Recent games:</summary>
		<ul>
			{% for game in recent_games %}
			<li><a href="{% url 'chess:gamehistory' game.id %}">{{ game.player_white }} vs {{ game.player_black }}</a></li>
			{% endfor %}
		</ul>
	</details>
</div>
<hr />
{% endblock %}

