{% extends 'chess/base.html' %}
{% load staticfiles %}
{% load chess_template_tags %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/chessboard.css' %}">
{% endblock %}

{% block body_block %}
<div id="chess-board-container">
    {% get_board perspective board_state player_white_name player_black_name %}
</div>
<h3>Moves:</h3>
<ol id="move-list">
    {% for move in moves %}
    <li>{{ move }}</li>
    {% endfor %}
</ol>
{% endblock %}

{% block javascript %}
    {% if spectate_mode %}
    <script src="{% static 'js/spectate.js' %}"></script>
    {% else %}
    <script src="{% static 'js/play.js' %}"></script>
    {% endif %}    
{% endblock %}